@charset "utf-8";
@import url('./fonts/fonts.css');
@import url('./layout.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #777;
    text-decoration: none;
}

button {
    color: #777;
}

img {
    vertical-align: middle;
    border: 0;
}

ul,
ol,
li {
    list-style: none;
}

input::placeholder {
    color: #c5c5c5;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #000;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
}

#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.1rem;
    background: #91C788;
}

::-webkit-scrollbar-button {
    display: none;
}


/* Common */
.container {
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

/* Tree Menu */
ul.fancytree-container {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

.main-tree ul.fancytree-container {
    border: none;
    font-size: 1.6rem;
}

.main-tree span.fancytree-icon,
.main-tree span.fancytree-expander {
    margin-top: 0.6rem;
}

.main-tree span.fancytree-checkbox {
    margin-top: 0.6rem;
}