/* erp Main */
#erp-main {
  position: relative;
  display: block;
}

.erp-box {
  position: relative;
  height: 50rem;
  border: .1rem solid #333333;
  box-shadow: 0 .1rem 1rem .1rem rgb(0 0 0 / 20%), 0 .1rem .2rem rgb(60 60 60 / 15%);
}

.nav-customizing {
  position: absolute;
  left: 0rem;
  top: 0rem;
  background: none;
  border: none;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  cursor: pointer;
}

.erp-box-left,
.erp-box-right {
  position: relative;
  float: left;
  height: 100%;
  padding: 3rem;
}

.erp-box-left {
  width: 20%;
}

.erp-box-right {
  width: 80%;
}