/* Home Main */
#home-main {
  position: relative;
  display: block;
}

#home-main .container {
  max-height: 60rem;
}

.home-box {
  position: relative;
  padding: 5rem;
  border: .1rem solid #333333;
  box-shadow: 0 .1rem 1rem .1rem rgb(0 0 0 / 20%), 0 .1rem .2rem rgb(60 60 60 / 15%);
}

.nav-customizing {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2.4rem;
  cursor: pointer;
}

.home-menu {
  position: relative;
  height: 5rem;
  border: .1rem solid #333;
  border-radius: 1rem;
  text-align: center;
}

.tree-open {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.tree-box {
  position: relative;
  display: block;
  max-width: 60rem;
  background: #fff;
  border: .1rem solid #333;
  padding: 5rem;
  margin: 5rem auto 0;
  text-align: left;
  box-shadow: 0 .1rem 1rem .1rem rgb(0 0 0 / 20%), 0 .1rem .2rem rgb(60 60 60 / 15%);
  overflow-y: scroll;
}

.tree-list {
  display: none;
}

.tree-list:first-child {
  display: block;
}

.tree-title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}