/* Login */
.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-version {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem;
}

.version {
  font-size: 1rem;
}

.version:hover {
  text-decoration: underline;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  min-height: 40rem;
  border-radius: 0.5rem;
  padding: 3rem 6rem;
  box-shadow: 0 .1rem 1rem .1rem rgb(0 0 0 / 20%), 0 .1rem .2rem rgb(60 60 60 / 15%);;
}

.login-box-logo {
  position: relative;
  width: 100%;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

.login-version,
.login-box,
.login-form-box {
  margin-bottom: 2rem;
}

.radio-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.radio-div {
  width: 30%;
  text-align: center;
}

.radio-label {
  font-family: 'Montserrat', sans-serif;
}

.login-input-label {
  position: relative;
  display: inline-block;
  width: 10rem;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
}

.login-input-label::after {
  content: ':';
  position: absolute;
  top: 0;
  right: -.7rem;
}

.input-txt {
  width: 30rem;
  padding: 1rem;
  margin-left: 2rem;
  border: none;
  border-bottom: solid 1px rgba(180,180,180,.4);
}

.login-form-bottom{
  margin-bottom: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.bottom-link a {
  height: 4rem;
}

.bottom-link a:hover {
  text-decoration: underline;
}

.input-submit {
  width: 10rem;
  height: 4rem;
  background: none;
  border: .1rem solid #333333;
  margin-top: 1rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  line-height: 2.5;
  font-weight: 700;
}

.input-submit:hover {
  box-shadow: 0 .1rem 1rem .1rem rgb(0 0 0 / 20%), 0 .1rem .2rem rgb(60 60 60 / 15%);;
}

.login-footer {
  font-size: 1.4rem;
  margin-top: 2rem;
}