@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('./NotoSansKR-Regular.otf') format('opentype');
    unicode-range: U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: bold;
    font-weight: 700;
    src: url('./NotoSansKR-Bold.otf') format('opentype');
    unicode-range: U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./Montserrat-Regular.ttf') format('opentype');
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    src: url('./Montserrat-Bold.ttf') format('opentype');
    unicode-range: U+0041-005A, U+0061-007A;
}